* ,*::after ,*::before{

    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

:root{

    --main-color : #ff305b;
    --font-family : 'Source Sans Pro', sans-serif;
}

.clear-fix{
    clear: both;
}


/* *Staart the header section */

.header{

    position:absolute;
    z-index: 2;
    width: 100%;
}


.header .nav{

    margin: 1rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    > a{
        display: block;
        font-family: var(--font-family);
        font-size: 800;
        font-size: 24px;
        color: var(--main-color);
    }


    i{
        color: #ffff;
    }


}


.header .nav .nav-element ul{

    display: flex;
    align-items: center ;

    li{

        a{
            display: block;
            font-size: 16px;
            font-weight: 300;
            margin-left: 20px;
            font-family: var(--font-family);
            color: #ffff;
        }
    }
}

.header .nav .nav-element ul .Active{
    color: var(--main-color);
}

.header .nav .nav-element ul li a:hover {

    color: var(--main-color); 
}

.landing{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) ,   url("../img/home.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing .container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;

    h1{
        font-size: 70px;
        font-family: var(--font-family);
        color: var(--main-color);
        font-weight: bold;
        padding-bottom: 0.5rem;
    }

    h3{
        font-weight: 800;
        font-family: var(--font-family);
        color: #ffff;
        padding-bottom: 0.5rem;
    }

    p{
        font-size: 20px;
        font-weight: 300;
        font-family: var(--font-family);
        color: #ffff;
        padding-bottom: 0.5rem;
    }
}


/* * End the header section */

/* * Start the About section */

.about .container{

    margin: auto ;
    width: 70%;
    margin-top: 90px;
}

.about .container .about-img{

    width: 35%;
    float: left;
    margin-bottom: 90px;
    margin-right: 100px;
    position: relative;
    border: 5px solid #555555 ;
    border-radius: 8px;

    img{
        width: 100%;
        position: relative;
        top: 20px;
        left: 20px;
        border-radius: 8px;
    }
}


.about .container .about-img .overlay{


    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 8px;
    left: 20px;
    right: -20px;
    bottom: -16px;
    top: calc(100% + 20px);
    transition: ease-in-out .4s all;


    ul{

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);

        li{
            display: inline-block;
            padding: 0.5rem;
        }


        li:hover{

            a{
                color: var(--main-color);
            }
        }

        
    }
}

.about .container .about-img:hover .overlay{

    top: 20px;
}


.about .container .about-containt{

    /* background-color: red; */
    width: 50%;
    float: left;

    h2{
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: 34px;
        font-weight: 600;
        font-family: var(--font-family);
        position: relative;
    }


    p{
        line-height: 25px;
        font-size: 18px;
        color: #999999;
        padding-bottom: 20px;
        border-bottom: 1px dotted #999999;
    }
}



.about .container .about-containt h2::before{

    position: absolute;
    content: "";
    background-color: var(--main-color);
    width: 5px;
    height: 25px;
    top: 7px;
    left: -10px;
}


.about .about-containt .about-info{

    ul{
        padding-top: 30px;
        li{
            padding-bottom: 1rem;
            float:left;
            width: 40%;
            margin-top: 10px;
            font-size: 16px;
            padding-right: 20px;
            font-family: var(--font-family);
            color: #555555;


            span{
                font-family: var(--font-family);
                font-weight: 700;
                color: black;
                font-size: 16px;
            }



            a{
                color:#555555;
            }
        }
    }
}

.about .about-containt .about-info .special{

    width: 50%;
}

.about .about-containt .about-info button{

    border: 0;
    border-radius: 5px;
    padding:  10px 25px;
    margin-right: 10px;
    background-color: var(--main-color);
    transition: ease 0.3s all;


    a{
        color: #ffff;
        font-size: 18px;
        font-family: var(--font-family);
    }


    i{
        color: #ffff;
    }
}


.about .about-containt .about-info button:hover{

    background-color: #EC2403;
}