* ,*::after ,*::before{

    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffff;
}

:root{

    --main-color : #ff305b;
    --font-family : 'Source Sans Pro', sans-serif;
}

.clear-fix{
    clear: both;
}



.sec-header{

    text-align: center;
    margin-bottom: 20px;

    h2{
        font-family: var(--font-family);
        font-size: 40px;
        font-weight: 700;
        line-height: 30px;
        padding-bottom: 10px;
        color: #333;
    }
}



.sec-header .icon{

    position: relative;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    left: calc(50% - 70px);
}

.sec-header .icon span{

    height: 1px;
    background-color: #ff305b;
    margin-bottom: 3px;
}


.sec-header .icon span:first-child{

    width: 40%;
}


.sec-header .icon span:nth-child(2){

    width: 100%;
}


.sec-header .icon span:last-child{

    width: 40%;
}




/* *Staart the header section */

.header{

    position:absolute;
    z-index: 2;
    width: 100%;
}


.header .nav{

    margin: 1rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    > a{
        display: block;
        font-family: var(--font-family);
        font-size: 800;
        font-size: 24px;
        color: var(--main-color);
    }


    i{
        color: #ffff;
    }


}


.header .nav .nav-element ul{

    display: flex;
    align-items: center ;

    li{

        a{
            display: block;
            font-size: 16px;
            font-weight: 300;
            margin-left: 20px;
            font-family: var(--font-family);
            color: #ffff;
        }
    }
}

.header .nav .nav-element ul .Active{
    color: var(--main-color);
}

.header .nav .nav-element ul li a:hover {

    color: var(--main-color); 
}

.landing{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) ,   url("../img/home.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing .container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;

    h1{
        font-size: 70px;
        font-family: var(--font-family);
        color: var(--main-color);
        font-weight: bold;
        padding-bottom: 0.5rem;
    }

    h3{
        font-weight: 800;
        font-family: var(--font-family);
        color: #ffff;
        padding-bottom: 0.5rem;
    }

    p{
        font-size: 20px;
        font-weight: 300;
        font-family: var(--font-family);
        color: #ffff;
        padding-bottom: 0.5rem;
    }
}


/* * End the header section */

/* * Start the About section */

.about .container{

    margin: auto ;
    width: 70%;
    margin-top: 90px;
}

.about .container .about-img{

    width: 35%;
    float: left;
    margin-bottom: 90px;
    margin-right: 100px;
    position: relative;
    border: 5px solid #555555 ;
    border-radius: 8px;

    img{
        width: 100%;
        position: relative;
        top: 20px;
        left: 20px;
        border-radius: 8px;
    }
}


.about .container .about-img .overlay{


    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 8px;
    left: 20px;
    right: -20px;
    bottom: -16px;
    top: calc(100% + 20px);
    transition: ease-in-out .4s all;


    ul{

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);

        li{
            display: inline-block;
            padding: 0.5rem;
        }


        li:hover{

            a{
                color: var(--main-color);
            }
        }

        
    }
}

.about .container .about-img:hover .overlay{

    top: 20px;
}


.about .container .about-containt{

    width: 50%;
    float: left;

    h2{
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: 34px;
        font-weight: 600;
        font-family: var(--font-family);
        position: relative;
    }


    p{
        line-height: 25px;
        font-size: 18px;
        color: #999999;
        padding-bottom: 20px;
        border-bottom: 1px dotted #999999;
    }
}



.about .container .about-containt h2::before{

    position: absolute;
    content: "";
    background-color: var(--main-color);
    width: 5px;
    height: 25px;
    top: 7px;
    left: -10px;
}


.about .about-containt .about-info{

    ul{
        padding-top: 30px;
        li{
            padding-bottom: 1rem;
            float:left;
            width: 40%;
            margin-top: 10px;
            font-size: 16px;
            padding-right: 20px;
            font-family: var(--font-family);
            color: #555555;


            span{
                font-family: var(--font-family);
                font-weight: 700;
                color: black;
                font-size: 16px;
            }



            a{
                color:#555555;
            }
        }
    }
}

.about .about-containt .about-info .special{

    width: 50%;
}

.about .about-containt .about-info button{

    border: 0;
    border-radius: 5px;
    padding:  10px 10px;
    margin-right: 10px;
    background-color: var(--main-color);
    transition: ease 0.3s all;


    a{
        color: #ffff;
        font-size: 18px;
        font-family: var(--font-family);
    }


    i{
        color: #ffff;
    }
}


.about .about-containt .about-info button:hover{

    background-color: #EC2403;
}


/* * End the About section */

/* * Start the Services section */


.Services{
    background-color: #f1f1f1;
    padding: 100px 0 40px 0 ;

}

.Services .container{

    width: 80%;
    margin: auto;
}


.Services .container .Services-containt{

    margin-top: 30px;
    display: flex;
    text-align: center;
    /* flex-wrap: wrap; */
    width: 100%;
}



.Services .container .Services-containt .containt{

    width: 25%;
    margin-top: 20px;
    padding: 35px 10px;
    transition: ease-in-out 0.4s all;


    i{
        padding: 10px;
        transition: 0.3s ease-in-out;
        color: var(--main-color);
    }


    h3{
        padding: 10px;
        font-size: 18px;
        font-family: var(--font-family);
        font-weight: 600;
    }


    P{
        padding-bottom: 30px;
        font-size: 16px;
        font-family: var(--font-family);
        color: #555555;
        font-weight: 500;
    }
}



.Services .container .Services-containt .containt:hover{

    background-color: #ffff;
    box-shadow: gray 5px 5px 20px 0px;
    i{
        transform: scale(1.5);
    }
}


/* * End the Services section */

/* * Start Portfolio section */

.Portfolio{

    padding: 100px 0 40px;
}

.Portfolio .container{

    width: 70%;
    margin: auto;
}

.Portfolio .container .portfolio-cat{

    margin: 30px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;



    p{
        font-family: var(--font-family);

    }
}

.Portfolio .container .portfolio-cat a{

    color: black;
    display: block;
}

.Portfolio .container .portfolio-cat  .Active a{

    color: var(--main-color);
}

.Portfolio .container .portfolio-cat a:hover {

    color: var(--main-color);
}

.Portfolio .container .portfolio-containt .portfolio-img .img{

    width: 32%;
    position: relative;


    img{
        width: 100%;
        transition: ease-in-out 0.4s;
    }


    a{
        display: block;
    }
}

.Portfolio .container .portfolio-containt .portfolio-img{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    transition: ease 0.3s all;
}

.Portfolio .container .portfolio-containt .portfolio-img .img .img-overlay{

    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: -3px;
    transition: ease 0.3s all;


    i{
        color: var(--main-color);
        position: absolute;
        right: 5px;
        bottom: 5px;
    }

}


.Portfolio .container .portfolio-containt .portfolio-img .img:hover > .img-overlay{

    display: block;
}


/* * END Portfolio section */

/* * Start rating section */


.rating{

    background-color: #f1f1f1;
    padding:    100px 0 100px;
}

.rating .container{

    width: 70%;
    margin: auto;
}

.rating .container .wrap-item{

    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.rating .container .cards {

    width: 25%;


    i{
        margin-bottom: 30px;
        color: var(--main-color);
    }


    h4{
        margin-bottom: 10px ;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 25px;
    }

    p{
        font-family: var(--font-family);
        color: #999999;
        font-size: 16px;
        font-weight: 600;
    }
}

/* * End rating section */

/* * Start feedback section */

.feedback{

    padding:    100px 0 100px;

}

.feedback .container{
    width: 90%;
    margin: auto;
}




.feedback .container .feedback-card{

    background-color: #f1f1f1;
    border-radius: 5px;
    width: 50%;
    padding: 30px 20px;
    position: relative;
    overflow: hidden;
}


.feedback .container .feedback-card::after{

    content: "";
    position: absolute;
    border-top: #ff305b;
    border-right: transparent;
    border-bottom: transparent;
    border-style:solid;
    border-width: 150px;
    top: 0;
    left: -150px;
    z-index: 1;
}



.feedback .container .feedback-card .feedback-containt{

    display: flex;
    width: 90%;
    justify-content: center;
}

.feedback .container .wrap-item{


    display: flex;
    flex-direction: column;
    align-items: center;


}


.feedback .container .feedback-card .client-img{


    width: 40%;
    padding: 20px 20px;
    z-index: 2;

    img{
        width: 100%;
        border-radius: 50%;
    }
}


.feedback .container .feedback-card{

    h4{
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 600;
        padding: 15px 5px;
    }

    p{
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 300;
        color: #555555;
        padding-bottom: 10px;
    }
}



.feedback .container .feedback-card .client-rating{

    i{
        color: #f1c30d;
        margin-bottom: 15px;
    }
}


.feedback .container .wrap-item .scroll{

    width: 35px;
    height: 12px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: var(--main-color);
    position: relative;
}


.feedback .container .wrap-item .scroll::after{

    position: absolute;
    content: "";
    border-radius: 50%;
    border: solid 1px var(--main-color);
    width: 10px;
    height: 10px;
    right: -20px;
}

/* * End feedback section */

/* * start blog section */

.Blog{

    background-color: #f1f1f1;
    padding:    100px 0 100px;
}


.Blog .container {

    width: 70%;
    margin: auto;

}

.Blog .container .wrap-items {

    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}




.Blog .container .wrap-items .cards .card-cont{

    padding: 15px 15px;
}


.Blog .container .wrap-items .cards{


    width: 31%;
    background-color: #ffff;

    p{
        color: #999999;
        font-family: var(--font-family);
        font-size: 600;
        font-size: 16px;
        margin-bottom: 15px;
    }


    h4{
        font-weight: 600;
        font-family: var(--font-family);
        margin-bottom: 15px;

        a{
            color: #333;
            transition: ease-in-out all 0.4s;
            font-size: 20px;
            font-family: var(--font-family);
        }
    }

    a{
        color: #999999;
        font-family: var(--font-family);
        font-size: 600;
        font-size: 16px;
        margin-bottom: 20px;
        transition: ease-in-out all 0.4s;
    }

}

.Blog .container .wrap-items .cards .card-img{

    width: 100%;
    padding-bottom: 5px;

    img{
        width: 100%;
    }
}

.Blog .container .wrap-items .cards a:hover{
    color: var(--main-color);
}


/* *End of blog section  */

/* * Start of contact us section  */



.contact-us{

    padding:    100px 0 100px;
}
.contact-us .container{

    width: 70%;
    margin: auto;
}

.contact-us .container .client-info{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;

    input{
        padding: 10px 10px;
        border-radius: 5px;
        border: 1px solid #999999;
        font-size: 16px;
        font-family: var(--font-family);
    }

    textarea{

        padding: 10px 10px;
        border-radius: 5px;
        border: 1px solid #999999;
        font-size: 16px;
        font-family: var(--font-family);
    }

    button{
        
        border: 0;
        border-radius: 5px;
        padding:  10px 25px;
        margin-right: 10px;
        background-color: var(--main-color);
        transition: ease 0.3s all;

        a{
            color: #ffff;
            font-size: 16px;
            font-family: var(--font-family);
        }
    
    }
}

.contact-us .container .client-info button:hover{

    background-color: #EC2403;
}


.contact-us .container .client-info #name {

    width: 46%;
}


.contact-us .container .client-info #email {

    width: 48%;
}


.contact-us .container .client-info #subject {

    width: 100%;
}


.contact-us .container .client-info #Massage {

    width: 100%;
}

/* * End of contact us section */

.footer{
    background-color: #333;
    padding: 50px 0 50px;
}


.footer .container{

    width: 70%;
    margin: auto;
}

.footer .container .footer-contact ul{

    display: flex;
    justify-content: center;
    gap: 20px;


    li{
        a{
            i{
                color: #ffff;
                transition: ease-in-out 0.3s;
            }
        }
    }
}


.footer .container .footer-contact ul li:hover{

    i{
        color: var(--main-color);
    }
}

/* *End of the footer */
