


@media (max-width : 1455px) {

    
.about .container{

    width: 80%;
}
    
}







@media (max-width : 1010px) {

    
    .about .container{
    
        width: 90%;
    }

    .about .container .about-img{

        border: 0;
    }
    
    }




@media (max-width : 921px ) {

    
    .about .container{
    
        width: 100%;
    }
}









@media (min-width : 640px) {

    .header .nav .nav-element{
        i{
            display: none;
            position: relative;
        }
    }
}



@media (max-width : 760px) {


    .about .container{
    
        width: 70%;
    }

    
.about .container .about-img{

    width: 80%;
    border: 0;
}

.about .container .about-containt{

    width: 100%;
    margin-bottom: 50px;
}

.about .about-containt .about-info ul li {

    width: 100%;
}

.about .about-containt .about-info .special {

    width: 100%;
}    
}



@media (max-width : 640px) {


    .header .nav{

        margin: 20px 10px 0px 10px ;
        justify-content: space-between ;
    }

    .header .nav .nav-element ul{
        display: none;
    }

    .header .nav .nav-element .menu:hover + ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 100%;
        background-color: rgba(0,0, 0, 0.5);
        left: 0;

        li{
            padding: 20px;

            a{
                display: block;
                /* background-color: red; */
                width: 100%;
                text-align: center  ;
            }
        }
    }

    .header .nav .nav-element ul li a:hover {

        color: var(--main-color); 
    }


    .landing .container{

        h1{
            font-size: 40px;
        }

        h3{
            font-size: 30px;
            font-weight: 700;
        }

        p{
            font-size: 17px;
            font-weight: 300;
        }
    }


    .about .container{
    
        width: 70%;
    }

    
.about .container .about-img{

    width: 80%;
    border: 0;
}

.about .container .about-containt{

    width: 100%;
    margin-bottom: 50px;
}

.about .about-containt .about-info ul li {

    width: 100%;
}

.about .about-containt .about-info .special {

    width: 100%;
}


}